<h1>Все о нас и нашем продукте</h1>
<h6>Наш сайт поможет вам найти лучшего риелтора, который поможет вам найти ваш уютный домашний очаг</h6>
<p>Профессиональный риелтор поможет:</p>
<p>  -подготовить нужные документы в соответствии с требованиями банка</p>
<p>  -выгодно купить или продать недвижимость, учитывая территориальные особенности</p>
<p>  -организовать подписание договоров купли-продажи, авансов и расписок</p>
<p>  -зарегистрировать переход права собственности</p>
<p>  -организовать взаиморасчёты покупателя с продавцом</p>
<p>  -взаимодействовать с банком при необходимости</p>